#restaurant{
    background: url('../imgs/aboutus.png') no-repeat center center/cover;
    background-attachment: fixed;
    padding-top: 15rem;
    padding-bottom: 10rem;
    
}
#restaurant .main_heading-1{
    padding-bottom: 5rem;
}

#res_img{
    float: left;
    margin-right: 10rem;    
}

#restaurant .res_info{
    margin-top: 3rem;
    
}


#restaurant .data{
    background: #f8f9f884;
    padding: 4rem;
    float: right;
    text-align: center;
    height: 200px;
    width: 270px;
    margin-top: 3rem;
    margin-right: 7rem;
}

#restaurant .res_info{
    clear: both;
    align-content: center;
    padding-top: 4rem;
}

.btn{
    font-size: 2.2rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*---------------about person open------------------*/
body{
    display: flow-root;
   
}

#person .main_heading-1{
    padding-top: 10rem;
    padding-bottom: 6rem;
}

#img1{
    float: right;
    margin-left: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#person .person_info{
    padding-bottom: 10rem;
}

/*---------------about person close------------------*/

/*---------------news open------------------*/

#news .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
#news img{
    width: 100%;
   
}

#news .box{
    padding: 20px;
}

#news{
    background: url('../imgs/aboutus.png') no-repeat center center/cover;
    background-attachment: fixed;
    padding: 10rem;
}

#news .main_heading-1{
    padding-bottom: 5rem;
}


/*---------------news close------------------*/
