@media(max-width: 1371px){

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 270px;
        width: 670px;   
    }

    #restaurant .data{
        float: right;
        text-align: center;
        height: 200px;
        width: 270px;
    }

    #testimonals .data{
        float: right;
        text-align: center;
        height: 200px;
        width: 270px;
    }

    #contact .data{
        float: right;
        text-align: center;
        height: 200px;
        width: 270px;
    }

}

@media(max-width: 1290px){

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 250px;
        width: 650px;   
    }

    #restaurant .data{
        float: right;
        text-align: center;
        height: 180px;
        width: 240px;
    }

    #testimonals .data{
        float: right;
        text-align: center;
        height: 180px;
        width: 240px;
    }

    #contact .data{
        float: right;
        text-align: center;
        height: 180px;
        width: 240px;
    }

}

@media(max-width: 1240px){

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 250px;
        width: 600px;   
    }

    #restaurant .data{
        float: right;
        text-align: center;
        height: 170px;
        width: 230px;
    }

    #testimonals .data{
        float: right;
        text-align: center;
        height: 170px;
        width: 230px;
    }

    #contact .data{
        float: right;
        text-align: center;
        height: 170px;
        width: 230px;
    }

}

@media(max-width: 1180px){

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 250px;
        width: 580px;   
    }

    #restaurant .data{
        float: right;
        text-align: center;
        height: 160px;
        width: 190px;
        padding: 2rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: right;
        text-align: center;
        height: 160px;
        width: 190px;
        padding: 2rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #contact .data{
        float: right;
        text-align: center;
        height: 160px;
        width: 190px;
        padding: 2rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

}

@media(max-width: 1097px){

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 250px;
        width: 560px;   
    }

    #restaurant .data{
        float: right;
        text-align: center;
        height: 150px;
        width: 180px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: right;
        text-align: center;
        height: 150px;
        width: 180px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #contact .data{
        float: right;
        text-align: center;
        height: 150px;
        width: 180px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }



}

/*large screen size 1070px*/
@media(max-width: 1070px){
    html{
        font-size: 60%;
    }

    .container{
        padding: 0 60px;
    }

    .form_data{
        width: 70%;
        margin-left: 100px;  
        margin-top: 50px;
    }

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 250px;
        width: 560px;   
    }

    #restaurant .data{
        float: right;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: right;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #contact .data{
        float: right;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    
}

@media(max-width: 900px){

    html{
        font-size: 55%;
    }

    .container{
        padding: 0 40px;
    }

    .btn{
        display: block;
    }

    .navbar nav{
        flex-direction: column;
        position: fixed;
        min-width: 100%;
        min-height: 60vh;
        top: 0;
        right: 100%;
        background: rgba(0, 0, 0, 0.949);
        align-items: flex-start;
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }

    nav.active{
        right: 0%;
        transition: all 1s ease-in;
    }

    .navbar nav li{
        margin: 2rem 4rem;
    }

    .navbar nav li a{
        font-weight: bold;
        font-size: 1.4rem;
        color: #fff;
        position: relative;
    }

    .close-btn{
        position: absolute;
        top: 0;
        left: 90%;
        margin: 33px;
    }

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 250px;
        width: 700px;   
    }

    #restaurant .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }
    #contact .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }
}

@media(max-width: 768px){

    .form_data{
        width: 100%;
        margin-left: 2px;  
        margin-top: 25px;
    }

    .form_data form input{
        width: 100%;
        transition: all 0.2s ease-in-out;
    }

    /*  Cuisines Section  */
    .menus_items_container{
        grid-template-columns: repeat(2,1fr);
    }

    .btn-cat{
        margin: 1rem 1rem;
    }

    .footer_container{
        grid-template-columns: repeat(2,1fr);
    }

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 200px;
        width: 600px;   
    }

    #restaurant .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #contact .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }
}

@media (max-width: 678px){
    .review{
      margin-top: 1.5rem;
    }
  }

@media(max-width: 650px){

    .close-btn{
        position: absolute;
        top: 0;
        left: 88%;
        margin: 33px;
    }

    .btn-cat{
        margin: 1rem 1rem;
    }

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 150px;
        width: 500px;   
    }

    #restaurant .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #contact .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

}

@media(max-width: 520px){

    .close-btn{
        position: absolute;
        top: 0;
        left: 83%;
        margin: 33px;
    }

    .menus_items_container{
        grid-template-columns: repeat(1,1fr);
    }

    .btn-cat{
        margin: 1rem 1rem;
    }

    .footer_container{
        grid-template-columns: repeat(1,1fr);
    }

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 130px;
        width: 400px;   
    }

    #restaurant .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #contact .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    .btn-view{
        
        position: relative;
        left: 37%;
        right: 63%;
        
    }
}

@media(max-width: 350px){

    .close-btn{
        position: absolute;
        top: 0;
        left: 78%;
        margin: 33px;
    }

    .btn-cat{
        margin: 1rem 1rem;
    }

    #res_img{
        float: left;
        margin-right: 10rem; 
        height: 120px;
        width: 370px;   
    }

    #restaurant .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #testimonals .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }

    #contact .data{
        float: left;
        text-align: center;
        height: 145px;
        width: 175px;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 5rem;
    }
}

/*----------menu--------------*/

 @media screen and (max-width: 1200px) {
    .root {
      gap: 49px;
    }
  }
  @media screen and (max-width: 1050px) {
    .menu-card1 {
      font-size: var(--font-size-15xl);
    }
  }
  @media screen and (max-width: 750px) {
    .root {
      gap: 24px;
    }
  }
  @media screen and (max-width: 450px) {
    .menu-card1 {
      font-size: var(--font-size-7xl);
    }
  }


  